Question 1

pipenv, version 2024.3.0

Question 2

sha256:03b6158efa3faaf1feea3faa884c840ebd61b6484167c711548fce208ea09445

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [31]:
df = pd.read_csv('bank-full.csv', sep=';')

In [32]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [33]:
df.y = (df['y']=='yes').astype(int)

In [34]:
y = df.y

In [35]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [36]:
!python -m wget https://raw.githubusercontent.com/DataTalksClub/machine-learning-zoomcamp/master/cohorts/2024/05-deployment/homework/model1.bin

Saved under model1 (1).bin

In [37]:
!python -m wget https://raw.githubusercontent.com/DataTalksClub/machine-learning-zoomcamp/master/cohorts/2024/05-deployment/homework/dv.bin

Saved under dv (1).bin

In [38]:
import pickle

# Load the DictVectorizer
with open('dv.bin', 'rb') as f:
    dv = pickle.load(f)

# Load the Logistic Regression model
with open('model1.bin', 'rb') as f:
    model = pickle.load(f)

C:\Users\Abu Afeez\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator DictVectorizer from version 1.5.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\Abu Afeez\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator LogisticRegression from version 1.5.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

Question 3
What's the probability that this client will get a subscription?

In [39]:
new_data = {"job": "management", "duration": 400, "poutcome": "success"}

In [40]:
transformed_data = dv.transform([new_data])

In [41]:
prediction = model.predict(transformed_data)

print("Predicted class:", prediction[0])

Predicted class: 1

In [42]:
probabilities = model.predict_proba(transformed_data)[:,1]
probabilities[0]

0.9085008884049968

Question 4
What's the probability that this client will get a subscription?

In [43]:
client = {"job": "student", "duration": 280, "poutcome": "failure"}

In [44]:
transformed_client = dv.transform([client])
probabilities = model.predict_proba(transformed_client)[:,1]
probabilities[0]

0.20212822258505542